@model IEnumerable<ProyectoBasesDatos.Models.Medication>

@{
    ViewData["Title"] = "Medicinas";
}

<h2>Medicinas</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th> <!-- Nueva columna para las acciones -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MName</td>
                <td>@item.MDescription</td>
                <td>@item.HospitalMeds?.Price.ToString("C")</td>
                <td>@item.HospitalMeds?.Stock</td>
                <td>
                    <!-- Enlace para "Ver" detalles -->
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Ver</a>
                    <!-- Enlace para "Editar" -->
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>